# OS
.DS_Store
Thumbs.db

# Node.js / npm / yarn
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
venv/
*.egg-info/

# Java
*.class
*.jar
*.war
*.ear
target/
build/

# C / C++
*.o
*.out
*.obj
*.exe

# Logs
*.log

# Environment / secrets
.env
.env.local

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Other
dist/
coverage/

# Ignore the folder
/Model 1 - Public dataset/urdu_Sentiment_analysis_model/
/Model 2 - Synthetic dataset/urdu_Intent_classification_model
/Model 2 - Synthetic dataset/urdu_Topic_classification_model

# Ignore the file
urdu-sentiment-analysis.rar
.env